body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -5;
}
header {
    width: 100%;
    height: 10vh;
    margin: 0;
    color:white;
}
#logo{
    position:absolute;
    width: 60vw;
}
#name{
    width:40%;
    font-size: 3vw;
    float:left;
    margin: 2vw 0 0 2vw;
}
#title{
    font-size: 1.2vw;
    float:left;
    width: 40%;
    margin: 6vh 0 0 0;
    color: orange;
}
#menu{
    float:right;
    width: 35vw;
    height: 100%;
    margin-right: 5vw;
}
.menuBtn{
    height: 3vh;
    width: 30%;
    margin-top: 6vh;
    float:right;
    position: relative;
    padding:8px 1% 2px 1%;
    text-align: center;
    transition: .2s;
}
.menuBtn:hover{
    font-size: 1.15vw;
    transition: .2s;
}
#menu-btn1{
    border: 1px solid white;
    color:orange;
    transition: .5s;
}
#menu-btn1:hover{
    transition: .5s;
    background-color: rgba(255, 153, 0, 0.2);
}
main{
    height: 90vh;
    margin:auto;
    position: relative;
}
#boxes-container{
    width: 80vw;
    height: 60vh;
    margin:auto;
}
.box{
    height: 10vw;
    width: 10vw;
    transform: rotate(45deg);
    margin-top: 29vh;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}
#box-left{
    float:left;
    margin-left: 8vw;
}
#box-right{
    float:right;
    margin-right: 8vw;
}
.box:hover{
    transform: scale(1.2, 1.2) rotate(45deg); 
    transition: .5s;
    color:orange;
}
#box-middle{
    height: 15vw;
    width: 15vw;
    transform: rotate(45deg);
    position:fixed;
    border: 1px solid white;
    color: white;
    margin: 24vh 0 0 32vw;
    z-index: 5;
}
.txt_rotate{
    transform: rotate(-45deg);
    font-size: 1.2vw;
    text-align: center;
    margin: 4.1vw 0 0 0;
}
#box-middle .txt_rotate{
        margin:6vw 0 0 0;
        font-size: 3vw;
}
#about{
    height: 100vh;
}
#about-header{
    margin-top: 1.5vh;
    text-align: center;
    font-size: 1vw;
}
#about-title{
    margin-top: 1vh;
    text-align: center;
    font-size: .5vw;
    color: orange;
}
.about-info{
    font-size: .5vw;
    margin: 1vh auto 0 auto;
    width: 80%;
}

#portfolio{
    height: 100vh;
}

.skillbox{
    float:right;
    width: 100%;
    height: 2.8vh;
    border:1px solid white;
    margin: 1vh 0 0 0;
    font-size: 1vw;
    padding: .7vh 0 0 1vw;
}
.skillbox:hover{
    color: orange;
}