body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    background-clip: 
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
header {
    width: 100%;
    height: 10vh;
    margin: 0;
    color:white;
}
#logo{
    position:absolute;
    width: 60vw;
}
#name{
    width:40%;
    font-size: 3vw;
    float:left;
    margin: 2vw 0 0 2vw;
}
#title{
    font-size: 1.2vw;
    float:left;
    width: 40%;
    margin: 6vh 0 0 0;
    color: orange;
}
#menu{
    float:right;
    width: 35vw;
    height: 100%;
    margin-right: 5vw;
}
.menuBtn{
    height: 3vh;
    width: 30%;
    margin-top: 6vh;
    float:right;
    position: relative;
    padding:8px 1% 2px 1%;
    text-align: center;
    transition: .2s;
}
.menuBtn:hover{
    font-size: 1.15vw;
    transition: .2s;
}
#menu_btn1{
    border: 1px solid white;
    color:orange;
    transition: .5s;
}
#menu_btn1:hover{
    transition: .5s;
    background-color: rgba(255, 153, 0, 0.2);
}
main{
    height: 90vh;
}
#boxes_container{
    width: 80vw;
    height: 60vh;
    margin:auto;
}
.box{
    height: 10vw;
    width: 10vw;
    float:left;
    transform: rotate(45deg);
    border: 1px solid white;
    color: white;
    background-color: transparent;
    margin: 30vh 7vw 0 7vw;
    transition: .5s;
}
.box:hover{
    transform: scale(1.2, 1.2) rotate(45deg); 
    transition: .5s;
    color:orange;
}
#box_middle{
    height: 15vw;
    width: 15vw;
    margin-top: 25vh;
    z-index: 5;
}
.txt_rotate{
    transform: rotate(-45deg);
    font-size: 1.2vw;
    text-align: center;
    margin: 4.1vw 0 0 0;
}
#box_middle .txt_rotate{
        margin:6vw 0 0 0;
        font-size: 3vw;
}