body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
a {
    text-decoration: inherit;
    color: inherit;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -5;
}
header {
    width: 100%;
    height: 10vh;
    margin: 0;
    color:white;
}
#logo{
    position:absolute;
    width: 60vw;
}
#name{
    width:40%;
    font-size: 3vw;
    float:left;
    margin: 4vh 0 0 2vw;
}
#title{
    font-size: 1.2vw;
    float:left;
    width: 40%;
    margin: 6vh 0 0 0;
    color: orange;
}
#menu{
    float:right;
    width: 35vw;
    height: 100%;
    margin-right: 5vw;
}
.menuBtn{
    height: 1vw;
    width: 30%;
    margin-top: 6vh;
    float:right;
    position: relative;
    padding:.5vw 1% .7vw 1%;
    text-align: center;
    transition: .2s;
    font-size: 1vw;
}
.menuBtn:hover{
    font-size: 1.15vw;
    transition: .2s;
}
#menu-btn1{
    border: 1px solid white;
    color:orange;
    transition: .2s;
}
#menu-btn1:hover{
    transition: .2s;
    background-color: rgba(255, 153, 0, 0.2);
}
main{
    height: 90vh;
    margin:auto;
    position: relative;
}
#boxes-container{
    width: 80vw;
    height: 60vh;
    margin:auto;
}
.box{
    height: 10vw;
    width: 10vw;
    transform: rotate(45deg);
    margin-top: 29vh;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}
#box-left{
    float:left;
    margin-left: 8vw;
}
#box-right{
    float:right;
    margin-right: 8vw;
}
.box:hover{
    transform: scale(1.2, 1.2) rotate(45deg); 
    transition: .5s;
    color:orange;
}
#box-middle{
    height: 15vw;
    width: 15vw;
    transform: rotate(45deg);
    position:fixed;
    border: 1px solid white;
    color: white;
    margin: 24vh 0 0 32vw;
    z-index: 5;
    overflow:scroll;
}
.txt_rotate{
    transform: rotate(-45deg);
    font-size: 1.2vw;
    text-align: center;
    margin: 4.1vw 0 0 0;
}
#box-middle .txt_rotate{
        margin:6vw 0 0 0;
        font-size: 3vw;
}
#about{
    height: 100vh;
}
#about-header{
    margin-top: 2vh;
    text-align: center;
    font-size: 1vw;
}
#about-title{
    margin-top: 1vh;
    text-align: center;
    font-size: .5vw;
    color: orange;
}
.about-info{
    font-size: .5vw;
    margin: 1vh auto 0 auto;
    width: 80%;
}

#top-btn{
    right: 0;
    height: 4.5vh;
    width: 10vw;
    background-color: orange;
    position:fixed;
    margin-top: 5vh;
    color:white;
    text-align: center;
    font-size: 1.2vw;
    padding-top: 1.5vh;
    transition: .3s;
    opacity: 0;
}
#top-btn:hover{
    width:12vw;
    transition: .3s;
}
#portfolio{
    height: 100vh;
}

.skillbox{
    float:right;
    width: 98%;
    height: 2vh;
    border:1px solid white;
    margin: 1vh auto 0 auto;
    font-size: 1vh;
    padding-top: .8vh;
}
.skill-text{
    margin-left: 1vw;
    float:left;
}
.skillbox:nth-child(6){
    border:1px solid orange;
    background-color: rgba(255, 255, 255, 0.2);
    color: orange;
    text-align: center;
}

#projects{
    height: 100%;;
    font-size: 1vh;
    float:right;
    width: 48%;
    color:white;
}
#projects:hover{
    font-size: 1.1vh;
}
#skills{
    height: 100%;
    font-size: 1vh;
    float:left;
    width: 48%;
    color:white;
}
#skills:hover{
    font-size:1.1vh;
}
#contact{
    height: 100vh;
    z-index: 6;
    overflow:hidden;
}
#contact-form-container{
    width: 50%;
    margin:13vh auto 0 auto;
    color:white;
    display: block;
    opacity: 0;

}
#contact-title{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 5vh;
}
#contact-form table{
    width: 100%;
}
#contact-form td{
    height: 5vh;
}
#contact-form input{
    width: 95%;
    background-color: transparent;
    border: 1px solid white;
    background-color: white;
    height: 100%;
    font-size: 1vw;
    padding-left: 1vw;
}
#msg-td textarea{
    height:15vh;
    width: 97%;
}
.form-name{
    max-width: 90%;
}
.undertitle{
    font-size: .7vw;
    vertical-align: text-top;
}
#submitbtn{
    margin-top: 1vh;
    background-color: transparent;
    color: white;
    border: 2px solid;
    height: 5vh;
    width: 10vw;
    font-size: 1.5vw;
    transition:.2s;
}
#submitbtn:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: .2s;
}